<button class="btn m-3 btn-dark " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" style="width: 10em; height: 4em;">MENU</button>

<div class="offcanvas offcanvas-top bg-dark bg-gradient" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" style="max-height: 5.2em;">
	<div class="offcanvas-body ">
		<nav class="nav nav-pills nav-fill">
			<a class="nav-link text-light" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
			<a class="nav-link text-light" href="{{ path('app_inscription') }}">Qui veut ?</a>
			<a class="nav-link text-light" href="{{ path('app_listing') }}">Listing</a>
			<a class="nav-link text-light" href="{{ path('app_organisation') }}">Organisation</a>
			<a class="nav-link text-light" href="{{ path('app_propositions') }}">Propositions</a>
			{# <a class="nav-link text-light" href="vote.html">Votes</a>
			<a class="nav-link text-light" href="organisation.html">Organisation retenue</a>
			<a class="nav-link text-light" href="share.html">Partagez</a> #}
		</nav>
	</div>
</div>
