{% extends 'base.html.twig' %}

{% block title %}Liste des participants{% endblock %}

{% block body %}


    <div class="row" style="margin-top: 5rem">
        <div class="col-10 m-auto">
            <h1 class="text-center mb-5 text-dark fw-bold">Voici la liste des participants</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-10 bg-white mb-5 shadow m-auto">

            <table class="table table-sm table-stripped table-hover mt-4">
                <thead class="" style="background-color: #393939; color: white;">
                <tr class="">
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Localisation</th>
                    <th scope="col">Département</th>
                    <th scope="col">Remarques</th>
                </tr>
                </thead>
                <tbody>
                {% for user in list %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.city }}</td>
                        <td>{{ user.department }}</td>
                        <td>{{ user.note }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
